<div class="center hero-unit">
  <h1>Spectre</h1>
  <p>Market Surveillance System</p>
  <%= link_to "Sign in", '#', class: "btn btn-large btn-primary" %>
  <small><%= link_to "Register", signup_path %></small>
</div>
