<li>
  <span class="content"><%= comment.user.name %> <%= comment.desc %>.</span>
  <blockquote><%= comment.content %></blockquote>
  <span class="timestamp">
    Occured <%= time_ago_in_words(comment.created_at) %> ago.
  </span>
</li>