<span class="content well-actions">
  You are viewing Case <%= @case_file.id.to_s %> |
  Case Officer: 
  <% if @case_officer.id == current_user.id %>
    You 
  <% else %>
    <%= @case_officer.name %>
  <% end %>
</span>
