<li>
  <table class="table summary">
    <tbody>
      <tr>
        <td>
          <%= render "case_profile", case_file: case_file, content: content %>
        </td>
        <td>
          <div class="well">
            <%= render "actions/action", action: case_file.actions.first %>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <span class="pull-right">
            <%= link_to "View Case", case_file_path(case_file), class: "btn btn-primary btn-small" %>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</li>