<% provide(:title, 'Case Archive') %>
<h1>Case Archive</h1>

<% if @case_files.empty? %>
  <h4>None Found</h4>
<% else %>
  <%= will_paginate %>
  <div class="row">
    <div class="span12">
      <%= will_paginate %>
      <ol class="actions">
        <%= render @case_files, locals: { summarize: true } %>
      </ol>
      <%= will_paginate %>
    </div>
  </div>
<% end %>
