<% provide(:title, 'Open Cases') %>
<h1>All Open Cases</h1>
<%= will_paginate %>
<div class="row">
  <div class="span12">
    <%= will_paginate %>
    <ol class="actions">
      <%= render @case_files, locals: { summarize: true } %>
    </ol>
    <%= will_paginate %>
  </div>
</div>






