<% provide(:title, 'Activity') %>
<h1>Spectre Activity</h1>

<div class="row">
  <div class="span4">
  </div>
  <div class="span8">
    <%= will_paginate %>
      <ol class="actions">
        <%= render @actions %>
      </ol>
    <%= will_paginate %>
  </div>
</div>