<li>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <% if user.activated? %>
        <%= link_to 'deactivate', user, method: :delete %>
      <% else %>
        <%= link_to 'activate', user, method: :delete %>
      <% end %>
  <% end %>
</li>