<% provide(:title, 'Sign Up') %>
<div class="row">
  <div class="span10 offset1">
    <h1>Sign Up</h1>
    <div class="form-horizontal well">
      <%= render 'shared/num_errors' %>
      <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
        <div class="control-group">
          <div class="controls">
            <%= f.submit "Create my account", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>   
    </div>
  </div>
</div>

