<div class="control-group">
  <div class="controls">
    <%= hidden_field_tag 'monitor_id', id %>
    <%= submit_tag 'Save', class: 'btn btn-danger', name: 'modify' %>
    <%= submit_tag 'Cancel', class: 'btn btn-primary', name: 'cancel' %>
  </div>
</div>