  <tr class="main">
  <td>
    <span class = "expand">
      <a href='#' onclick="return false;"><%= desc[:name] %></a>
    </span>
  </td>
  <td>
    <% if active %>
      <span style="color:YellowGreen">Active</span>
    <% else %>
      <span style="color:Red">Inactive</span>
    <% end %>
  </td>
</tr>
<tr class="hidden">
  <td colspan="2">
    <table class="table summary">
    <tbody>
    <tr>
      <td>
        <span class="content">
        <div class="span5_5" style="margin-left:0px;">
          <div class="well-small">
            <%= desc[:info]%>
          </div>
        </div>
      </td>
      <td><%= render "setting", settings: settings %></td>
    </tr>
    <tr>
      <td></td>
      <td>
      <span class="pull-right">
        <%= link_to "Edit Settings", incident_monitor_path(incident_monitor),
              class: "btn btn-primary btn-small" %>
      </span>
      </td>
    </tr>
  </tbody>
  </table>
  </td>
</tr>
  
