<li>
  <span class="content"><%= close.user.name %> <%= close.desc %>.</span>
  <blockquote>Comment: <%= close.content %></blockquote>
  <span class="timestamp">
    Occured <%= time_ago_in_words(close.created_at) %> ago.
  </span>
</li>