<li>
  <span class="content"><%= close.user.name %> <%= close.desc %> case 
    <%= rand(100) %>.</span>
  <span class="timestamp">
    Occured <%= time_ago_in_words(close.created_at) %> ago.
  </span>
</li>