<li>
  <span class="content"><%= activate.user.name %> <%= activate.desc %> user 1.</span>
  <span class="timestamp">
    Occured <%= time_ago_in_words(activate.created_at) %> ago.
  </span>
</li>