<li>
  <span class="content"><%= pending_close.user.name %> <%= pending_close.desc %>.</span>
  <blockquote>Comment: <%= pending_close.content %></blockquote>
  <span class="timestamp">
    Occured <%= time_ago_in_words(pending_close.created_at) %> ago.
  </span>
</li>