<li>
  <span class="content"><%= transfer.user.name %> <%= transfer.desc %>.</span>
  <blockquote>Comment: <%= transfer.content %></blockquote>
  <span class="timestamp">
    Occured <%= time_ago_in_words(transfer.created_at) %> ago.
  </span>
</li>