<% if not locals[:edit] %>
  <%= render "incident_monitors/summarize",
        incident_monitor: layering_on_the_ask,
        desc: JSON.parse(layering_on_the_ask.desc, symbolize_names: true),
        settings: JSON.parse(layering_on_the_ask.settings,
                             symbolize_names: true),
        active: layering_on_the_ask.active %>
<% else %>
  <h1>ask layering editing form</h1>
<% end %>