<li>
  <span class="content"><%= deactivate.user.name %> <%= deactivate.desc %> User 1</span>
  <span class="timestamp">
    Occured <%= time_ago_in_words(deactivate.created_at) %> ago.
  </span>
</li>